body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fd5068;
    color: white;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    margin-bottom: 20px;
    animation: slideInDown 0.8s ease-in-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.title {
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #eee;
}

.screenshots {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust carousel width */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}

.screenshot {
    flex: 0 0 auto;
    width: 200px; /* Adjust screenshot width */
    height: auto;
    margin: 0 10px; /* Adjust margin */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.screenshot img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.download-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.download-button:hover {
    background-color: #333;
}
